/*
 *
 * MMM-MoonPhase
 *
 * Nolan Kingdon
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */
#moonphase-wrapper {
	width: 100px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 1em;
}

#moonphase-title {
	text-align: center;
	width: auto;
	font-size: 12pt;
	line-height: 1em;
}

#moonphase-phase {
	text-align: center;
	font-size: 12pt;
	line-height: 1em;
}

#moonphase-age {
	text-align: center;
	font-size: 12pt;
	line-height: 1em;
}

#moonphase-canvas {
	margin-left: auto;
	margin-right: auto;
	line-height: 1em;
}
